body {
  margin: 0;
  font-weight: bold;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shahs {
  color: white;
  align-self: flex-start;
  max-width: 1600;
  margin-top: -15;
  font-size: 75px;
  text-decoration: none;
  font-weight: bold;
}

.shahs a {
  font-size: 14px;
}

.shahs:hover {
  opacity: .7;
}

.title {
  margin-left: 155px;
  margin-top: -100;
  align-self: flex-start;
  max-width: 1598;
  color: white;
}

.topnav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}

.topnav a {
  color: #ffffff;
  margin-left: auto;
  padding: 20px 50px;;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.thrdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 3px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  padding: 14px 16px;
  font-size: 17px;
  letter-spacing: 3px;
  color: white;
  background-color: inherit;
  border-radius: 8px;
  font-weight: bolder;
}

.resmen a {
  padding: 14px 16px;
  font-size: 17px;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.resmen a:hover, .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 2px 8px 0px grey;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
  border-radius: 8px;
}

.resmen a::selection {
  background-color: blue;
}

.bodyfea {
  max-width: 600;
}

.headfea h2 {
  color: red;
}

.pictcont{
    max-height: 400px;
    max-width: 265px;
    margin: auto;
    user-select: none;
    border: 1px solid #fff;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 8px;
}

.pictcont .shahcont{
    max-width: 300px;
    max-height: 90%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.workexp {
  background-color: lightblue;
  padding: 50px 45px;
  min-height: 300px;
}

.workexpc {
  max-width: 950px;
  margin: 0 auto;
  color: white;
}

.workexp a {
  line-height: 30px;
  text-decoration: none;
  color: inherit;
}

.workexp a:hover {
  color: blue;
}

.bodymain {
  background-image: url("image/tech.jpg");
  padding: 20px 45px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.secdiv {
  max-width: 500px;
  color: white;
  text-decoration-style: solid;
  margin: 0 auto;
  margin-bottom: 50;
}

.secdiv h1 {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 3px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 3rem;
  max-width: 500;
}

.secdiv p {
  line-height: 1;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 50;
  max-width: 690;
  font-weight: 0;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #000000;
  letter-spacing: 2px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 14px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  opacity: .7;
}

.smol {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 5px 6px 6px 5px;
  font-weight: bold;
  border-radius: 8px;
}

.smol:hover {
  background-color: blue;
}

.bomen {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.body2 {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.latnew {
  max-width: 1600;
  margin: 0 auto;
}

.latnew h1 {
  letter-spacing: 2px;
  color: black;
  font-size: 3rem;
}

.galleryContainer{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
}

.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(image/playp.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}

.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}

.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}

.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}

.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}

.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}

.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}

.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}

.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}

@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}

@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}

@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}

.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}

.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

.footer {
  background-color: #000000;
  display: flex;
  justify-content: right;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}

.footmenu {
  color: white;
  padding: 14px 15px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 11px;
}

.footmenu a {
  display: flex;
  text-decoration: none;
  line-height: 2.2;
  margin-right: 20;
  color: white;
  padding-left: 10px;
}

.hmbtn {
  margin-left: 150;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 12px 10px;
  border-radius: 8px;
}

.hmbtn:hover {
  background-color: blue;
}

.empinfo {
  max-width: 1100;
  margin: 0 auto;
}

.empinfo h1 {
  color: blue;
}

.header {
  max-width: 1100;
  margin: 0 auto;
}

.header h1 {
  color: blue;
}

.headfea {
  max-width: 1100;
  margin: 0 auto;
}

.headfea h1 {
  color: blue;
}

.body {
  max-width: 1100;
  margin: 0 auto;
}

.body h1 {
  color: blue;
}

.features {
  background-color: #e8eaf6;
  padding: 60px 45px;
}

.features1 {
  padding: 60px 45px;
}

.features-in {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 35px;
  grid-row-gap: 45px;
}

.fea-1 {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 10px auto;
  color: white;
  letter-spacing: 3px;
}


 /* Feature 1 */
 .fea-item1 {
  position: relative;
  float: left;
  margin-right: 10px;
}
.fea-item1 .fea-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;  
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 8px;
}
.fea-item1:hover {
  cursor: pointer;
  opacity: .7;
}
.fea-item1:hover .fea-1 {
    max-width: 600px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}


 /* Feature 2 */
.fea-item2 {
  position: relative;
  float: left;
  margin-right: 10px;
}
.fea-item2 .fea-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;  
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 8px;
}
.fea-item2:hover {
  cursor: pointer;
  opacity: .7;
}
.fea-item2:hover .fea-1 {
    max-width: 600px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

 /* Feature 3 */
.fea-item3 {
  position: relative;
  float: left;
  margin-right: 10px;
}
.fea-item3 .fea-1 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;  
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 8px;
}
.fea-item3:hover {
  cursor: pointer;
  opacity: .7;
}
.fea-item3:hover .fea-1{
  max-width: 700px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

.geo {
  text-decoration: none;
  color: white;
  background-color: black;
  letter-spacing: 2px;
  border: 1px solid #fff;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 3px;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.geo:hover {
  opacity: .7;
}

.videocam {
  display: flex;
  justify-content: center;
  padding: 8px 12px;
}

.camera {
  display: flex;
  justify-content: center;
  margin-left: 100;
}